extends layout
include __includes
block content
    #banner.page-header
        .row
            .col-lg-6.font-Montserrat
                h1.font-Montserrat-Bold #{header.headerText} -
                  small.font-Montserrat &nbsp;#{header.slogan}
    .row
        .col-xs-12.col-sm-8.font-Montserrat
            .error #{message}
            .list-group
            
                each location in locations
            
                    .col-xs-12.list-group-item
                        h4
                            a(href='/location/#{location._id}') #{location.name}&nbsp;
                            small
                                +getRating(location.rating)
                        p.pull-right.badge.badge-info #{location.distance}
                        
                        p #{location.address}
                        
                        +getfacilities(location.facilities)
        
        .col-xs-12.col-sm-4
            p.lead.font-Montserrat Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.